<!DOCTYPE html>
<html>
    <head>
        <title>Angular Animations</title>
        <link rel="stylesheet" href="bootstrap.min.css">
        <link rel="stylesheet" href="animation.css">
        <script src="angular.min.js"></script>
        <script src="angular-animate.js"></script>
        <script src="animation.js"></script>
    </head>
    <body ng-app="app" ng-controller="TestController as test">
        <button type="button" ng-click="test.showBoxOne = !test.showBoxOne">ToggleBox</button>
        <div class="box-one" ng-show="test.showBoxOne">
            Hello! I am <b>box one</b>.
        </div>
        <button ng-click="test.people.push({name:'Steve'})">Add item to ng-repeat</button>
        <button ng-click="test.people.pop()">Remove item from ng-repeat</button>
        <div class="item" ng-repeat="person in test.people">
            {{ person.name }}
        </div>
        <button ng-click="test.bigger = !test.bigger">Bigger = {{ !test.bigger }}</button>
        <button ng-click="test.lightTheme = !test.lightTheme"> LightTheme = {{ !test.lightTheme }}</button>
        <div class="box" ng-class="{ 'bigger': test.bigger, 'light-theme': test.lightTheme}">
            This is just a box
        </div>
    </body>
</html>