<!DOCTYPE html>
<html>
    <head>
        <title>AngularJS Binding</title>
        <script src="angular.min.js"></script>
    </head>
    <body>
        <div ng-app>
            <h1>Binding {{message}}</h1>
            <input type="text" ng-model="message">
            <p> {{ message }} </p>
            <p> {{ message + message }} </p>
            <p> {{ message === 'hello' }} </p>
            <p> {{ 1 + 2 }} </p>
            <h1 ng-bind="'Binding ' + message">Binding</h1>
            <input type="text" ng-model="message">
            <p ng-bind="message"></p>
            <p ng-bind='message + message'></p>
            <p ng-bind="message === 'hello'"></p>
            <p ng-bind="1 + 2"></p>
            <h1 ng-bind="'Binding ' + message"></h1>
            <input type="text" ng-model="message" ng-init="message = 'hello'">
            <p ng-bind="message"></p>
            <p ng-bind="message + message"></p>
            <p ng-bind="::message === 'hello'"></p>
            <p ng-bind="1 + 2"></p>
        </div>
    </body>
</html>