<!DOCTYPE html>
<html>
    <head>
        <title>AngularJS Controllers</title>
        <script type="text/javascript" src="angular.min.js"></script>
        <script type="text/javascript" src="controller.js"></script>
    </head>
    <body>
        <div ng-app="app">
            <h1>Controllers</h1>
            <div ng-controller="MainController">
                <p>{{ message }}</p>
                <form ng-submit="updateMessage(newMessage)">
                    <input type="text" ng-model="newMessage">
                    <button type="submit">Update Message</button>
                </form>
            </div>
            <div ng-controller="MainController as main">
                <p>{{ main.message}}</p>
                <form ng-submit='main.changeMessage(main.newMessage)'>
                    <input type="text" ng-model='main.newMessage'>
                    <button type="submit">ChangeMessage</button>
                </form>
            </div>
        </div>
    </body>
</html>