<!DOCTYPE html>
<html>
    <head>
        <title>Angular Filters</title>
        <script src="angular.min.js"></script>
        <script src="filter.js"></script>
    </head>
    <body ng-app="app">
        <div ng-controller="TestController as test">
            <input type="text" ng-model="test.myString" />
            <h2>{{ test.myString | capitalize}}</h2>
            <input type="text" ng-model="search" /><br />
            1<p ng-repeat="person in test.people | filter: search">{{ person.name }}</p>
            2<p ng-repeat="person in test.people | orderBy:'name'">{{ person.name }}</p>
            3<p ng-repeat="person in test.people | orderBy:'-name'">{{ person.name }}</p>
            4<p ng-repeat="person in test.people | limitTo:2">{{ person.name }}</p>
            5<p ng-repeat="person in test.people | filter: search | orderBy:'-name' | limitTo:3">{{ person.name }}</p>
        </div>
    </body>
</html>