<!DOCTYPE html>
<html>
    <head>
        <title>$http Fun</title>
        <script src="angular.min.js"></script>
        <script src="http.js"></script>
    </head>
    <body ng-app="app" ng-controller="TestController as test">
<!--        <h1>{{test.getMessage.message}}</h1>-->
        <input ng-model="test.sendMessage" placeholder="Enter a Message">
        <button ng-click="test.postData(test.sendMessage)">uppercase</button>
    </body>
</html>