<!DOCTYPE html>
<html>
    <head>
        <title>$templateCache</title>
        <script src="angular.min.js"></script>
        <script src="angular-route.min.js"></script>
        <script src="template.js"></script>
    </head>
    <body ng-app="app">
        <div ng-view></div>
<!--
        <script type="text/ng-template" id="test.html">
            Hello {{ test.user.name }}   
        </script>
-->
    </body>
</html>