<!DOCTYPE html>
<html>
    <head>
        <title>View and DOM</title>
        <script src="angular.min.js"></script>
        <script src="viewdom.js"></script>
        <link rel="stylesheet" href="bootstrap.min.css">
    </head>
    <body> 
        <div ng-app="app">
            <dumb-password></dumb-password>
            <div class="button" ng-repeat="item in 'somewrd'.split('')" ng-click="$log.debug($event)">
                {{$index + 1}}. {{item}}
                {{ev.pageX}}
            </div>
        </div>
    </body>
</html>