<!DOCTYPE html>
<html>
    <head>
        <title>Angular Directives</title>
        <script src="angular.min.js"></script>
        <script src="directive.js"></script>
    </head>
    <body ng-app='greetings' ng-controller="FunController as fun">
        <welcome hola howdy hoi>Say Something</welcome>
        <welcome hoi>Only Hi!</welcome>
        <div hi hey></div>
        <div class="hello"></div>
        <!-- directive: goodbye -->
        <div entering="activeClass" leaving>Hover over me for fun times</div>
        <div entered="fun.end()">Hover me for more fun times</div>
        <div>
            <first>
                <button>Click this button</button>
            </first>
        </div>
        <clock timezone="MST"></clock>
        <panel title="I'm a title">
            <clock timezone="PST"></clock>
            <clock timezone="PST"></clock>
            <clock timezone="PST"></clock>
            <clock timezone="PST"></clock>
        </panel>
        <country>
            <state>
                <city>
                    
                </city>
            </state>
        </country>
        <div ng-controller="ChoreController"> 
            <kid done="logChore(chore)"></kid>
        </div>
        <div ng-controller="AppController">
            <div drink flavor="{{ctrlFlavor}}"></div>
            <input type="text" ng-model="ctrlFlavor">
            <div drunk flavor="ctrlFlavor"><span>This is for test</span></div>
            <div phone dial="callHome(message)"></div>
        </div>
        <div ng-controller="PhoneController">
            <call number="555-1234" network="network" make-call="leaveVoiceMail(number, message)"></call>
            <call number="867-5309" network="network" make-call="leaveVoiceMail(number, message)"></call>
            <call number="911" network="network" make-call="leaveVoiceMail(number, message)"></call>
        </div>
    </body>
</html>