<!DOCTYPE html>
<html>
    <head>
        <title>AngularJS Services</title>
        <script type="text/javascript" src="angular.min.js"></script>
        <script type="text/javascript" src="service.js"></script>
    </head>
    <body>
        <div ng-app="app">
            <h1>Services</h1>
            <div ng-controller="ListController as list">
                <p ng-repeat="message in list.messages">{{ message.id }}: {{ message.text }}</p>
            </div>
            <div ng-controller="PostController as post">
                <form ng-submit="post.addMessage(post.newMessage)">
                    <input type="text" ng-model="post.newMessage">
                    <button type="submit">Add Message</button>
                </form>
            </div>
        </div>
    </body>
</html>