<!DOCTYPE html>
<html>
    <head>
        <title>Tabs Directive</title>
        <link rel="stylesheet" href="bootstrap.min.css">
        <script src="angular.min.js"></script>
    </head>
    <body>
        <div role="tabpanel">
            <ul class="nav" ng-class="tabset.classes" role="tablist">
                <li role="presentation" ng-repeat="tab in tabset.tabs" ng-class="{'active': tab.active, 'disabled': tab.disabled}">
                    <a href="" role="tab" ng-click="tabset.select(tab)">{{tab.heading}}</a>
                </li>
            </ul>
            <ng-transclude>
            </ng-transclude>
        </div>
    </body>
</html>