<!DOCTYPE html>
<html lang="en-US">
    <head>
        <script src="angular.min.js"></script>
        <script src="script15.js"></script>
    </head>
    <body ng-app="myReverseFilterApp">
        <div ng-controller="MyController">
            <input ng-model="greeting" type="text"><br>
            No Filter: {{greeting}}<br>
            Reverse: {{greeting | reverse}}<br>
            Reverse + Uppercase: {{greeting|reverse:true}}<br>
            Reverse, filtered in controller: {{filteredGreeting}}<br>
        </div>
    </body>
</html>
