<!DOCTYPE html>
<html lang="en-US">
    <head>
        <script src="angular.min.js"></script>
        <script src="controller4.js"></script>
    </head>
    <body ng-app="myApp">
        <div ng-controller="GreetingController">
            <div>{{greeting}}</div>
            <div>
                Two times <input type="number" ng-model="num" ng-init="num = 5"> equals {{ double(num) }}
            </div>
        </div>
    </body>
</html>