<!DOCTYPE html>
<html lang="en-US">
    <head>
        <script src="angular.min.js"></script>
        <script src="script16.js"></script>
    </head>
    <body ng-app="myStatefulFilterApp">
        <div ng-controller="MyController">
            Input: <input ng-model="greeting" type="text"><br>
            Decoration: <input ng-model="decoration.symbol" type="text"><br>
            No Filter: {{greeting}}<br>
            Decorated: {{greeting | decorate}}<br>
        </div>
    </body>
</html>