<!DOCTYPE html>
<html lang="en-US">
    <head>
        <script src="angular.min.js"></script>
        <script src="app6.js"></script>
        <style>
            div.inheritance div {
                padding: 10px;
                border: solid 2px blue;
            }
        </style>
    </head>
    <body ng-app="myApp">
        <div class="inheritance">
            <div ng-controller="MainController">
                <p>Good {{timeOfDay}}, {{name}}!</p>
                <div ng-controller="ChildController">
                    <p>Good {{timeOfDay}}, {{name}}!</p>
                    <div ng-controller="GrandChildController">
                        <p>Good {{timeOfDay}}, {{name}}!</p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>