<!DOCTYPE html>
<html lang="en-US">
    <head>
        <script src="angular.min.js"></script>
        <script src="script7.js"></script>
        <style>
            div.inheritance div {
                padding: 10px;
                border: solid 2px blue;
            }
        </style>
    </head>
    <body ng-app="myServiceModule">
        <div id="simple" ng-controller='MyController'>
            <p>Let's try this simple notify service, injected into the controller...</p>
            <input ng-init="message='test'" ng-model="message" >
            <button ng-click="callNotify(message);">Notify</button>
            <p>(You have to click 3 times to see an alert)</p>
        </div>
    </body>
</html>