<!DOCTYPE html>
<html lang="en-US">
    <head>
        <script src="angular.min.js"></script>
        <script src="script12.js"></script>
    </head>
    <body ng-app="expressionExample">
        <div class="example2" ng-controller="ExampleController">
            Name: <input ng-model="name" type="text"/>
            <button ng-click="greet()">Greet</button>
            <button ng-click="window.alert('Shouldn't see me')">Won't Greet</button>
        </div>
    </body>
</html>