<!DOCTYPE html>
<html lang="en-US">
    <head>
        <script src="angular.min.js"></script>
        <script src="script8.js"></script>
    </head>
    <body ng-app="scopeExample">
        <div ng-controller='MyController'>
            Your Name:
            <input type="text" ng-model="userName">
            <button ng-click="sayHello()">Greet</button>
            <hr>
            {{greeting}}
        </div>
    </body>
</html>