<!DOCTYPE html>
<html lang="en-US">
    <head>
        <script src="angular.min.js"></script>
        <script src="script14.js"></script>
    </head>
    <body ng-app="filterInControllerModule">
        <div ng-controller="FilterController as ctrl">
            <div>
                All Entries:
                <span ng-repeat="entry in ctrl.array">{{entry.name}} </span><br>
            </div>
            <div>
                Entries that contain an "a":
                <span ng-repeat="entry in ctrl.filteredArray">{{entry.name}} </span><br>
            </div>
        </div>
    </body>
</html>