<!DOCTYPE html>
<html lang="en-US">
    <head>
        <script src="angular.min.js"></script>
        <script src="script11.js"></script>
    </head>
    <body ng-app="expressionExample">
        <div ng-controller="ExampleController" class="expressions">
            Expression:
            <input type="text" ng-model="expr" size="80"/>
            <button ng-click="addExp(expr)">Evaluate</button>
            <ul>
                <li ng-repeat="expr in exprs track by $index">
                    [ <a href="" ng-click="removeExp($index)">X</a> ]
                    <code>{{expr}}</code> => <span ng-bind="$parent.$eval(expr)"></span>
                </li>
            </ul>
        </div>
    </body>
</html>