<!DOCTYPE html>
<html lang="en-US">
    <head>
        <script src="angular.min.js"></script>
        <script src="invoice2.js"></script>
    </head>
    <body>
        <div ng-app="invoice2" ng-controller="InvoiceController as invoice">
            <b>Invoice:</b>
            <div>
                Quantity: <input type="number" min="0" ng-model="invoice.qty" required>
            </div>
            <div>
                Costs: <input type="number" min="0" ng-model="invoice.cost" required>
                <select ng-model="invoice.inCurr">
                    <option ng-repeat="curr in invoice.currencies">{{curr}}</option>
                </select>
            </div>
            <div>
                <b>Total:</b>
                <span ng-repeat="curr in invoice.currencies">
                    {{invoice.total(curr) | currency:curr}}
                </span><br>
                <button class="btn" ng-click="invoice.pay()">
                    Pay
                </button>
            </div>
        </div>
    </body>
</html>
