<!DOCTYPE html>
<html lang="en-US">
    <head>
        <script src="angular.min.js"></script>
        <script src="script13.js"></script>
    </head>
    <body ng-app="expressionExample">
        <div ng-controller="EventController">
            <button ng-click="clickMe($event)">Event</button>
            <p><code>$event</code>: <pre> {{$event | json}}</pre></p>
            <p><code>clickEvent</code>: <pre>{{clickEvent | json}}</pre></p>
        </div>
    </body>
</html>