<!DOCTYPE html>
<html lang="en-US">
    <head>
        <script src="angular.min.js"></script>
        <script src="app5.js"></script>
    </head>
    <body ng-app="spicyApp">
        <div ng-controller="SpicyController">
            <input ng-model="customSpice">
            <button ng-click="spicy('chilli')">Chilli</button>
            <button ng-click="spicy('jalapeo')">Jalapeno</button>
            <button ng-click="spicy(customSpice)">Custom</button>
            <p>The food is {{spice}} spicy!</p>
        </div>
    </body>
</html>
