<!DOCTYPE html>
<html lang="en-US">
    <head>
        <script src="angular.min.js"></script>
        <script src="script9.js"></script>
        <style>
            .show-scope-demo.ng-scope, .show-scope-demo .ng-scope {
                border: 1px solid red;
                margin: 3px;
            }
        </style>
    </head>
    <body ng-app="scopeExample">
        <div class="show-scope-demo">
            <div ng-controller="GreetController">
                Hello {{name}}!
            </div>
            <div ng-controller="ListController">
                <ol>
                    <li ng-repeat="name in names">{{name}}{{department}}</li>
                </ol>
            </div>
        </div>
    </body>
</html>