<!DOCTYPE html>
<html lang="en-US">
    <head>
        <script src="angular.min.js"></script>
        <script src="script10.js"></script>
    </head>
    <body ng-app="scopeExample">
        <div ng-controller="EventController">
            Root Scope <tt>MyEvent</tt> count: {{count}}
            <ul>
                <li ng-repeat="i in [1]" ng-controller="EventController">
                    <button ng-click="$emit('MyEvent')">$emit('MyEvent')</button>
                    <button ng-click="$broadcast('MyEvent')">$broadcast('MyEvent')</button><br>
                    Middle Scope <tt>MyEvent</tt> count: {{count}}
                    <ul>
                        <li ng-repeat="item in [1, 2]" ng-controller="EventController">
                            Leaf Scope <tt>MyEvent</tt> count: {{count}}
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </body>
</html>